/* HEADER INICIO */
/* .header{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  border-bottom: 2px solid #AEA0A0;
}
@media (min-width: 768px){
  .header{
      flex-direction: row;
  }
} */
.header-principal {
  border-bottom: 2px solid #AEA0A0;
  padding: 1rem 2rem;
  position: relative;
}
.firma{
  position: absolute;
  left: 3.5%;
  top: 63%;
  font-size: 2.5rem;
  font-weight: 200;
}
.barra-header-horizontal::after{
  content: "";
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  rotate: 180deg;
  width: 300px;
  height: 2px;
  background-color: #AEA0A0;
}
.barra-header-vertical::after{
  content: "";
  position: absolute;
  left: 8%; 
  top: 50%;
  transform: translateY(-50%);
  rotate: 90deg;
  width: 96px;
  height: 2px;
  background-color: #AEA0A0;
}
.header{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px){
  .header{
      flex-direction: row;
  }
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  gap: 2rem;
}
.logo::before {
  content: "";
  position: absolute;
  left: 112%; 
  top: 50%;
  transform: translateY(-50%);
  rotate: 90deg;
  width: 96px;
  height: 2px;
  background-color: #AEA0A0;
}
.logo h1{
  font-size: 3rem;
  font-weight: 400;
}
.logo img{
  width: 75px;
}
.nav-principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.nav-principal li{
  color: #000;
  font-size: 1.8rem;
  list-style: none;
}
.nav-principal li:nth-child(1){
  margin-top: 2rem;
}
@media (min-width: 768px){
  .nav-principal{
      flex-direction: row;
  }
  .nav-principal li:nth-child(1){
      margin-top: 0;
  }
}

/* .rotating-text {
  font-size: 20px;
  font-weight: bold;
  color: black;
  background-color: cyan;
  text-align: center;
  padding: 5px 10px;
  border-radius: 8px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.rotating-text-container {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
} */

/* HEADER FINAL */